.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
_book
_bookdown_files
How-to-Spatial-Modeling-with-R.Rmd
How-to-Spatial-Modeling-with-R.html
How-to-Spatial-Modeling-with-R.knit.md
How-to-Spatial-Modeling-with-R_files
libs
How-to-Spatial-Modeling-with-R.Rcheck/
How-to-Spatial-Modeling-with-R*.tar.gz
How-to-Spatial-Modeling-with-R*.tgz
How-to-Spatial-Modeling-with-R.Rproj
https:
preamble.tex
style.css
docs
